<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>register</title>
    <link href="/css/login_register.css" rel="stylesheet"></link>
<script>
function goBack(){
    window.history.back()
}
</script>
</head>
<body background="back.jpg">
	<div align="center">
		<br> <br>
		<h1>登録情報確認</h1>
		<br>
		<p>内容を確認してください</p>
		<form class="ui form" method="post" action="/tosaveInformation">
			<table class="ui celled table table table-hover">
				<tr>
					<td>氏名:</td>
					<td th:text="${addInforIn.name}"></td>
				</tr>
				<tr>
					<td>性別:</td>
					<td th:text="${addInforIn.sex}"></td>
				</tr>
				<tr>
					<td>携帯番号:</td>
					<td th:text="${addInforIn.phoneNumber}"></td>
				</tr>
				<tr>
					<td>申込日付:</td>
					<td th:text="${addInforIn.applicationDate}"></td>
				</tr>
				<tr>
					<td>誕生日:</td>
					<td th:text="${addInforIn.bornDate}"></td>
				</tr>
				<tr>
					<td>入力担当:</td>
					<td th:text="${addInforIn.manager}"></td>
				</tr>
				<tr>
					<td>ネット会社:</td>
					<td th:text="${addInforIn.netType}"></td>
				</tr>
				<tr>
					<td>ネットプラン:</td>
					<td th:text="${addInforIn.netPlan}"></td>
				</tr>
				<tr>
					<td>郵便番号:</td>
					<td th:text="${addInforIn.postcode}"></td>
				</tr>
				<tr>
					<td>住所:</td>
					<td th:text="${addInforIn.address}"></td>
				</tr>
				<tr>
					<td>備考欄:</td>
					<td th:text="${addInforIn.notes}"></td>
				</tr>
			</table>
			<input type="button" value="戻る" onclick="goBack()">
			<input type="hidden" name="name" th:value="${addInforIn.name}">
			<input type="hidden" name="sex" th:value="${addInforIn.sex}">
			<input type="hidden" name="phoneNumber" th:value="${addInforIn.phoneNumber}">
			<input type="hidden" name="applicationDate" th:value="${addInforIn.applicationDate}">
			<input type="hidden" name="bornDate" th:value="${addInforIn.bornDate}">
			<input type="hidden" name="manager" th:value="${addInforIn.manager}">
			<input type="hidden" name="netType" th:value="${addInforIn.netType}">
			<input type="hidden" name="netPlan" th:value="${addInforIn.netPlan}">
			<input type="hidden" name="postcode" th:value="${addInforIn.postcode}">
			<input type="hidden" name="address" th:value="${addInforIn.address}">
			<input type="hidden" name="notes" th:value="${addInforIn.notes}">
			<input type="submit" value="作成完了">
		</form>
	</div>
</body>
</html>
