<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="/css/list.css" rel="stylesheet"></link>
<title>登録完了</title>
</head>
<body>
			<div class="inforlist-box">
		<br>
		<br>
		<h1>こんにちは！[[${userId}]]</h1>
		<br>
		<br> <span th:text="${message}"style="text-color: red; font-size: 10px"></span><br>
		<form method="post" id="search" action="/search">
		氏名:<input type="text" name="name" th:value="${name}">
			<input type="submit" value="検索">
			<a th:href="@{addInformation}">新規登録はこちら</a><br>
		<br><br>
		  			</form>
		  			<form method="post" action="" id="update-delete">
		<table>
      <tr>
        <th>名前</th>
        <th>性別</th>
        <th>電話番号</th>
        <th>申込日時</th>
        <th>生年月日</th>
        <th>入力担当</th>
        <th>ネット会社</th>
        <th>ネットプラン</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>備考</th>
        <th>操作</th>
      </tr>
        <tr th:each="searchInforOut,iterStat:${informationList}">
            <td class="center" th:text="${searchInforOut.name}"></td>
            <td class="center" th:text="${searchInforOut.sex}"></td>
            <td class="center" th:text="${searchInforOut.phoneNumber}"></td>
            <td class="center" th:text="${searchInforOut.applicationDate}"></td>
            <td class="center" th:text="${searchInforOut.bornDate}"></td>
            <td class="center" th:text="${searchInforOut.manager}"></td>
            <td class="center" th:text="${searchInforOut.netType}"></td>
            <td class="center" th:text="${searchInforOut.netPlan}"></td>
            <td class="center" th:text="${searchInforOut.postcode}"></td>
            <td class="center" th:text="${searchInforOut.address}"></td>
            <td class="center" th:text="${searchInforOut.notes}"></td>
            <td>
			<input type="hidden" name="idx" th:value="${searchInforOut.idx}">
			<input type="hidden" name="name" th:value="${searchInforOut.name}">
			<input type="hidden" name="sex" th:value="${searchInforOut.sex}">
			<input type="hidden" name="phoneNumber" th:value="${searchInforOut.phoneNumber}">
			<input type="hidden" name="applicationDate" th:value="${searchInforOut.applicationDate}">
			<input type="hidden" name="bornDate" th:value="${searchInforOut.bornDate}">
			<input type="hidden" name="manager" th:value="${searchInforOut.manager}">
			<input type="hidden" name="netType" th:value="${searchInforOut.netType}">
			<input type="hidden" name="netPlan" th:value="${searchInforOut.netPlan}">
			<input type="hidden" name="postcode" th:value=${searchInforOut.postcode}>
			<input type="hidden" name="address" th:value="${searchInforOut.address}">
			<input type="hidden" name="notes" th:value="${searchInforOut.notes}">
					<a href="javascript:update();"><img class="alert">編集</a>
					<a href="javascript:delete();"><img class="del">削除</a>
            </td>
        </tr>
  </table>
</form>
	</div>
	<script>
	function update(){
	var form;
	form = document.getElementById("update-delete");
	form.action="update";
	form.submit();
	}
	</script>
</body>
</html>