<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登録完了</title>
</head>
<body background="back.jpg">
	<div align="center">
		<br>
		<br>
		<h1>こんにちは！[[${user.userName }]]</h1>
		<br>
		<br> <span th:text="${message}"
			style="text-color: red; font-size: 10px"></span>
		<form method="get" action="/list">
			<input type="submit" value="ユーザー情報一覧へ"><br>
			<br>
		</form>
		<br>
		<form method="get" action="/addInformation">
			<input type="submit" value="ユーザー情報登録">
		</form>
	</div>
</body>
</html>