<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ユーザー情報一覧</title>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>ユーザー情報一覧</h1>
    <div><a th:href="@{addInformation}">新規登録はこちら</a></div>
    <form method="post" action="/view">
			氏名:
			<input type="text" name="name" placeholder="氏名" required />
			性別:
			<input type="radio" name="sex" value="男" />男
			<input type="radio" name="sex" value="女" />女 <br> <br>
			<br>
			携帯番号:
			<input type="text" name="phoneNumber" placeholder="携帯番号入力" required />
			申込日付:
			<input type="text" name="applicationDate" placeholder="申込日付" required /> <br> <br>
			<br>
			誕生日:
			<input type="text" name="bornDate" placeholder="誕生日" required />
			入力担当:
			<input type="text" name="manager" placeholder="入力担当" required /> <br> <br>
			<br>
			ネット会社:
			<select name="netType" id="netType">
				<option value="">選択...</option>
				<option value="AU" th:selected="${netType=='AU'}">AU</option>
				<option value="SOFTBANK" th:selected="${netType=='SOFTBANK'}">SOFTBANK</option>
				<option value="DOCOMO" th:selected="${netType=='3'}">DOCOMO</option>
			</select>
			ネットプラン:
			<select name="netPlan" id="netPlan">
				<option value="">選択...</option>
				<option value="ファミリータイプ" th:selected="${netPlan=='ファミリータイプ'}">ファミリータイプ</option>
				<option value="マンションタイプ" th:selected="${netPlan=='マンションタイプ'}">マンションタイプ</option>
				<option value="ミニータイプ" th:selected="${netPlan=='ミニータイプ'}">ミニータイプ</option>
			</select><br> <br>
			<br>
			郵便番号:
			<input type="text" name="postcode" placeholder="番号入力" required />
			住所:
			<input type="text" name="address" placeholder="住所入力" required /> <br> <br>
			<br>
			備考欄:
			<input type="text" name="notes" placeholder="備考" /> <br> <br>
			<br>
			<br>
			<input type="submit" value="登録確認">
		</form>
  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>性別</th>
        <th>電話番号</th>
        <th>申込日時</th>
        <th>生年月日</th>
        <th>入力担当</th>
        <th>ネット会社</th>
        <th>ネットプラン</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>備考</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="addInformation,iterStat:${informationList}">
            <td class="center" th:text="${addInformation.name}"></td>
            <td class="center" th:text="${addInformation.sex}"></td>
            <td class="center" th:text="${addInformation.phoneNumber}"></td>
            <td class="center" th:text="${addInformation.applicationDate}"></td>
            <td class="center" th:text="${addInformation.bornDate}"></td>
            <td class="center" th:text="${addInformation.manager}"></td>
            <td class="center" th:text="${addInformation.netType}"></td>
            <td class="center" th:text="${addInformation.netPlan}"></td>
            <td class="center" th:text="${addInformation.postcode}"></td>
            <td class="center" th:text="${addInformation.address}"></td>
            <td class="center" th:text="${addInformation.notes}"></td>
            <td class="center"><a th:href="@{/list/{name}(name=*{name})}">編集</a></td>
            <td class="center"><a th:href="@{/list/{name}(name=*{name})}">削除</a></td>
        </tr>
      </tbody>
  </table>
  </body>
</html>