<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body background="sky.jpg">
	<div align="center">
		<br>
		<br>
		<h2>ログイン画面</h2>
		<br>
		<br> <span th:text="${message}"
			style="text-color: red; font-size: 10px"></span>
		<form method="get" action="/Homepage">
			ユーザー名:<input type="text" name="userName" placeholder="ユーザー名入力" required /><br>
			<br>
			パスワード：<input type="text" name="password" placeholder="パスワード入力" required /><br>
			<br>
			<input type="submit" value="登録">
		</form>
		<br>
		<form method="post" action="/Register">
			<input type="submit" value="新規登録">
		</form>
	</div>
</body>
</html>
