<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
    <link href="/css/login_register.css" rel="stylesheet"></link>
	<body>
	<span th:text="${message}"style="text-color: red; font-size: 30px"></span>
		<form action="/homepage" method="post">
			<div class="box_big">
				<div class="box_in">
					<input class="zone_de_texte" id="userName" type="text" name="userName" placeholder="ユーザー名"/>
				</div>
				<div class="box_in">
					<input class="zone_de_texte" type="password" name="password" placeholder="パスワード"/>
				</div>
				<div class="box_btn">
					<input class="button" type="submit" value="ログイン"/>	
				</div>
				<div class="box_info">
					<a th:href="@{/register}"><span>新規ユーザー登録</span></a>
				</div>
			</div>
		</form>
	</body>
</html>

