<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
    <link href="/css/login_register.css" rel="stylesheet"></link>
	<body>
	<span th:text="${message}"style="text-color:red;font-size:30px"></span>
		<form action="/toRegister" method="post">
			<div class="box_reg">
				<div class="box_in">
					<input class="zone_de_texte" id="userName" type="text" name="userName" placeholder="ユーザー名入力"/>
				</div>
				<div class="box_in">
					<input class="zone_de_texte" id="password" type="password" name="password" placeholder="パスワード入力"/>
				</div>
				<div class="box_in">
					<input class="zone_de_texte" id="password1" type="password" name="password1" placeholder="確認パスワード入力"/>
				</div>
				<div class="box_btn">
					<input class="button" type="submit" value="新規登録"/>	
				</div>
			</div>
		</form>
	</body>
</html>

