<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登録完了</title>
    <link href="/css/login_register.css" rel="stylesheet"></link>
</head>
<body background="back.jpg">
	<div align="center">
		<br>
		<br>
		<h1>データ保存完了</h1>
		<br>
		<br> <span th:text="${message}"
			style="text-color: red; font-size: 10px"></span>
		<form method="post" action="/search">
			<table class="ui celled table table table-hover">
				<tr>
					<td>氏名:</td>
					<td th:text="${addInforIn.name}"></td>
				</tr>
				<tr>
					<td>性別:</td>
					<td th:text="${addInforIn.sex}"></td>
				</tr>
				<tr>
					<td>携帯番号:</td>
					<td th:text="${addInforIn.phoneNumber}"></td>
				</tr>
				<tr>
					<td>申込日付:</td>
					<td th:text="${addInforIn.applicationDate}"></td>
				</tr>
				<tr>
					<td>誕生日:</td>
					<td th:text="${addInforIn.bornDate}"></td>
				</tr>
				<tr>
					<td>入力担当:</td>
					<td th:text="${addInforIn.manager}"></td>
				</tr>
				<tr>
					<td>ネット会社:</td>
					<td th:text="${addInforIn.netType}"></td>
				</tr>
				<tr>
					<td>ネットプラン:</td>
					<td th:text="${addInforIn.netPlan}"></td>
				</tr>
				<tr>
					<td>郵便番号:</td>
					<td th:text="${addInforIn.postcode}"></td>
				</tr>
				<tr>
					<td>住所:</td>
					<td th:text="${addInforIn.address}"></td>
				</tr>
				<tr>
					<td>備考欄:</td>
					<td th:text="${addInforIn.notes}"></td>
				</tr>
			</table>
			<input type="submit" value="ホームページへ戻る">
		</form>
	</div>
</body>
</html>