    <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>登陆成功</title>
</head>
<body background="back.jpg" >
<div align="center">
 <br><br><h1>欢迎您[[${user.userName }]]</h1><br><br>
 <span th:text="${message}" style="text-color:red;font-size: 10px"></span>
 <form method="get" action="/toFindSuccess">
 <select>
<option value="name">姓名</option>
<option value="phoneNumber">手机号码</option>
<option value="applicationDate">申请日期</option>
<option value="manager">入力担当</option>
</select>
  <input type="text" name="phoneNumber" placeholder="请输入查询信息" required/>
  <input type="submit" value="检索"><br><br>
  </form>
  <br>
  <form method="get" action="/toRegisterInformation">
  <input type="submit" value="新增用户信息">
 </form>
</div>
</body>
</html>